<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/add">
        <label>Gender:
            <input type="text" name="Gender" >
        </label>
        <label>HeightCm:
            <input type="number" name="HeightCm" >
        </label>
        <label>WeightKg:
            <input type="number" name="WeightKg" >
        </label>
        <button>Submit</button>
    </form>
</body>
</html>